header {
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > a {
  height: 100%;
  width: auto;
}

header img {
  height: 100%;
  width: auto;  
}

nav > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul > li {
	transition: right 0.1s;
}

header > button {
  display: none;
  margin-right: 15px;
}

li > a {
  padding: 5px 15px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: black;
}

@media (max-width: 650px) {
  header > button {
      display: block;
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      font-weight: 400;
      color: black;
      text-transform: uppercase;
      line-height: 70px;
      margin-right: 20px;
  }

  nav > ul {
    z-index: 1;
    position: absolute;
    flex-direction: column;
    margin-top: 30px;
    right: 0px;
    display: flex;
    overflow: hidden;
  }

  nav > ul > li {
    display: block;
    position: relative;
    background-color: black;
    text-align: center;
    padding-top: 15px;
    width: 300px;
    height: 55px;
    right: -300px;
  }

  nav > ul > li > a {
    font-size: 1.1em;
    color: white;
  }
}