@charset "UTF-8";
* {
  box-sizing: border-box;
}

.content a {
  color: #0000EE;
  font-style: italic;
  text-decoration:  underline;
  padding:  5px;
}
.content {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  padding-top: 10px;
}
.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center 
}
h1, h2, h3, nav a {
  font-family: ‘Montserrat’, sans-serif;
}

body {
  margin: 0px;
  background-color: #7e7b7b;
  font-family: "Karla", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: lightgrey;
  overflow: hidden;
}

@import "header"; 
@import "footer";

.main-img{
  width: 100%;
  opacity: 1;
  animation: fadeIn 5s ease;
}

.banner{

  position: relative;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 38%;
    width: 100%;
  }
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.banner h2{
  
  animation: slide-right 3s;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  margin-top:0;
  color:white;
  text-transform: uppercase;
  font-size:7em;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%)
}
.coursegoals
{
  display:grid;
  justify-content: center;
    font-family: 'Lucida Sans Unicode','Lucida Grande', sans-serif;
    text-align: left;
    padding: 10px;
  }
  .coursegoals li{
padding: 5px;
  }
.ourcraft
{
 font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.about{
  width: 700px;
  margin: 0 auto;
 font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.about-title{
  padding-top: 10px;
  text-align: center;
  font-size: 2.5em;
 font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.project {
  padding-top: 0px;
  text-align: center;
  font-size: 2.5em;
 font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.three{
  width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
  padding-top: 20px;
}
.info
{
  padding-top: 20%;
}
.item{
  width: 20%;
  text-align: center;
  border: 2px solid black;
  border-radius: 50px;
}
.item2 {
  width: 20%;
  text-align: center;
  border: 2px solid black;
  border-radius: 50px;
}
.row-three
{
  padding-b: 10px;
}
.forest{
  width: 100%;
}

.sub-project { 
  font-size: 1.7em;
  text-align: center;
 font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.text{
  padding: 15px 15px;
}

.foot{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 400px;
  text-align: center;
  text-decoration: none;
}
.copy{
  display:flex;
  line-height: 100px;
}

@media screen and (max-width: 620px){
  .item{
      width:95%;
  }
  .item2 {
      width:95%;
  }
.copy {
  width: 90%;
}
  .banner h2{
      font-size:4em;
  }

  .about{
      width:95%;
  }
.content {
  width: 50%;
}
}

@media screen and (max-width: 400px){
  .banner h2{
      font-size:2em;
  }

  .copy{
      width:90%
  }

  .address{
      width:90%
  }

}
