@charset "UTF-8";
* {
  box-sizing: border-box;
}

h1, h2, h3, nav a {
  font-family: ‘Montserrat’, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0px;
  background-color: #7e7b7b;
  font-family: "Karla", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: lightgrey;
  overflow: hidden;
}

@import "header"; 
